
{% if user.is_authenticated %}
    Welcome {{ user.username }}
    <br>
    <a href="{% url 'accounts:logout' %} ">Logout</a>
    <br><br>
    {% if task_list %}
        {% for task in task_list %}
            Zadanie: {{ task.caption }}
            <br>
            Zadane przez: {{ task.task_giver }}
            <br>
            Dodane: {{ task.pub_date }}
            <br>
            Aktywne do: {{ task.due_date }}
            <br>
            {% if task.task_done_by %}
                Zrobione przez: {{ task.task_done_by }}
                <br>
                {{ task.task_done_date }}
            {% else %}
                Status: do zrobienia
                <input type="button" value="Zrobione">
            {% endif %}
            <br><br><br>
        {% endfor %}
    {% endif %}
{% else %}
    You need to be logged in.
    <br><br>
    <a href="{% url 'accounts:login' %}">Log In</a>
    <br>
    Do not have an account? <a href="{% url 'accounts:signup' %}">Register</a>
{% endif %}