{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <h1 class="jumbotron-heading">Login</h1>
    <hr class="mt-0 mb-4 border-0">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-success" type="submit">Login</button>
        <hr class="mt-0 mb-4 border-0">
        Do not have an account? <a href="{% url 'accounts:signup' %}">Register</a>
        <hr class="mt-0 mb-2 border-0">
        <a href="{% url 'tasks:index' %}">Back to main page.</a>
    </form>
{% endblock %}

